.send-button {
      background-color: rgb(25, 135, 84);
      color: white;
      border-radius: 10px;
      padding: 12px 20px;
      border: none;
      margin-left: 10px;
      font-size: 15px;
      cursor: pointer;
    }

    .textBox {
      padding: 12px 15px;
      border-radius: 10px;
      border-width: 2px;
      font-size: 15px;
      flex-grow: 1;
    }

    .chat-input-container {
      display: flex;
      margin-bottom: 60px;
    }