.app-container {
  max-width: 600px;
  margin-left:auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.welcomeText {
  color: grey;
  text-align: center;
  font-size: 15px;
}